<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="com.phonegap.plugins.photofetcher"
      version="0.0.1">
    <name>PhotoFetcher</name>
    <description>Gets all photos from the device</description>
    <license>Apache 2.0</license>
    <keywords>cordova,phonegap,photo,fetcher</keywords>

    <js-module src="www/photofetcher.js" name="PhotoFetcher">
        <clobbers target="navigator.photos" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="PhotoFetcher">
                <param name="android-package" value="com.phonegap.plugins.photofetcher.PhotoFetcher"/>
            </feature>
        </config-file>

        <source-file src="src/android/PhotoFetcher.java" target-dir="src/com/phonegap/plugins/PhotoFetcher" />
    </platform>

</plugin>